<div class="row justify-content-center .anncardrow" id="anncardrow1">
  {{#each Notice1}}
  <div class="card text-white bg-primary mb-3 anncard1 col-md-2" style="max-width: 20rem;padding: 0;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <a target="_blank" href="/newsContent?news_id={{{news_id}}}"><p class="card-title">{{news_name}}</p></a>
      <p class="card-text">发布时间: {{update_time}}</p>
    </div>
  </div>
  {{/each}}
</div>
<div class="row justify-content-center .anncardrow" id="anncardrow2">
  {{#each Notice2}}
  <div class="card text-white bg-primary mb-3 anncard2 col-md-2" style="max-width: 20rem;padding: 0;">
    <!-- <div class="card-header">Header</div> -->
    <div class="card-body">
      <a target="_blank" href="/newsContent?news_id={{{news_id}}}"><p class="card-title">{{news_name}}</p></a>
      <p class="card-text">发布时间: {{update_time}}</p>
    </div>
  </div>
  {{/each}}
</div>