<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/newsList.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/newsContent.css" />
  <link rel="stylesheet" type="text/css" href="/static/stylesheets/foot.css" />

  <title>新闻内容</title>
</head>

<body>
  {{>newsTitle}}
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb" id="navLearn">
        <li class="breadcrumb-item active" aria-current="page">{{news.type}}</li>
        <li class="breadcrumb-item active" aria-current="page">正文</li>
      </ol>
    </nav>
    <div class="row justify-content-center">
      <div class="col-md-12">
        <h2 style="color:rgb(168, 75, 75);">{{news.news_name}}</h2>
      </div>
    </div>
    <div class="row justify-content-center" id="showtextrow">
      <p class="mytext">发布时间：{{news.update_time}}</p>
      <p class="mytext">作者：{{news.user_name}}</p>
      <p class="mytext">学院：{{news.college_name}}</p>
      <p>访问次数：{{news.news_focus}}</p>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div id="teacherline"></div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-12" id="showedit">{{{news.news_content}}}</div>
    </div>
    <div class="row" style="margin-top: 1rem;">
      <div class="col-md-12">
        <div id="teacherline"></div>
      </div>
    </div>
    <div class="row justify-content-center" id="commentrow">
      <div class="col-md-12">
        <div class="form-group">
          <textarea class="form-control" placeholder="发表评论" rows="3" style="resize: none; height: 100px;" id="content"
            name="content"></textarea>
        </div>
      </div>
    </div>
    <div class="row justify-content-end">
      <button type="button" class="btn btn-info" style="margin-right: 15px;">确认发布</button>
    </div>
  </div>
  <div class="container allcontent comments" id="mycomments">
    <div class="row">
      <div class="col-md-12 title">
        <a name="comments">Comments</a>
      </div>
    </div>
    {{>commentCotent}}
  </div>
  {{>bottomFooter}}
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
    integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js"
    integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9+4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>
  <script>
    $(document).ready(function () {
      $("#{{news.msg}}").siblings('li').removeClass('active');
      $("#{{news.msg}}").addClass('active');
    });

  </script>
</body>

</html>